

header.navbar {
    background-color: white;
    height: 60px;
}


.main-wrapper {
    height: calc(100vh - 60px);
    background-color: #fff3ed;
}

aside {
    background-color: #ffb5a0;
    width: 210px;
    flex-shrink: 0;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    .dashboard{
        margin-left: 30px;
    }

    ::before {
        font-size: 1.3rem;
    }

    .my_db{
        margin-top: 40px;
    }

    ul {
        list-style: none;
        margin-top:80px;
        li {
            line-height: 60px;
            a {
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

input.form-control.me-2 {
    border-radius: 0px;
    background-color: rgb(255, 233, 224);
    border-color: rgb(255, 213, 196);
}

button.btn.btn-outline-success {
    border-radius: 0px;
    background-color: rgb(255, 233, 224);
    border-color: rgb(255, 213, 196);
    color: rgb(69, 69, 69);

    &:hover,
    &:focus,
    &:active {
        background-color: rgb(255, 189, 163) !important;
        border-color: rgb(255, 213, 196) !important;
        color: rgb(69, 69, 69) !important;
        box-shadow: none;
    }
}

.alert.alert-danger {
    border-radius: 0px;
    background-color: #ed9b8c4a;
}

.alert.alert-success {
    border-radius: 0px;
}

.crud-table{
    td:first-child{
        width: 350px;
        padding-left: 20px;
    }
    th:first-child{
        padding-left: 20px;
    }
    td:last-child{
        width: 120px;
    }
    input{
        border: none;
        outline: none;
    }
}

.my_bgy{
    background-color: rgb(254, 236, 166);
}
.my_bgr{
    background-color: rgb(237, 126, 107);
}

